

/* Non-react  */

body {
  background: #EDE7D4;
}

.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
  background-color: #6A8CAD

}

.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}


.suggestions {
  position: relative;
  left: 28%;
  border-radius: 4px;
  list-style-type: none;
  width: 245px;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.suggestions li{
  text-align: left;
  padding: 10px 5px;
  cursor: pointer;
}

.suggestions li:hover{
  background-color: rgb(198, 216, 235);
}




/* profile page */

.masthead {
  padding-top: calc(1rem + 74px);
  padding-bottom: 6rem;
  background-color: #6A8CAD

}

.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}

.masthead .masthead-subheading {
  font-size: 1.25rem;
}

.masthead .masthead-avatar {
  width: 25rem;
  border-radius: 10%;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}


.skills{
  list-style: none;
}

.projects{
  list-style: none;
}

/* forms */

.page-section {
}


.form-control{
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 25px;
}

/* ul {
display: inline-block;
} */

@media (max-width: 768px) {
  .masthead .masthead-avatar {
  width: 18rem;
  border-radius: 10%;

}

}

.skills{
  background-color: #6A8CAD;
  color: white;
  padding: 20px;
  border-radius: 5%;
  margin-right: 2%;
  text-align: left;
}

.skills li{
  margin-left: 10%;
  letter-spacing: 0.1rem;
  margin-top: 2%;

}

.skill-list{
  margin-left: 2%;
}

.skill-list li{
  margin-top: 10px;
  margin: 5px;
  font-size: 1.4rem;
  list-style: none;
  max-height: 80vh;
}
