

/* Non-react  */

body {
  background: #EDE7D4;
  /* background: linear-gradient(to right, rgb(255, 251, 213), #EDE7D4); */
}

.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
  background-color: #6A8CAD

}

.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}

 
.suggestions {
  position: relative;
  left: 28%;
  border-radius: 4px;
  list-style-type: none;
  width: 245px;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.suggestions li{
  text-align: left;
  padding: 10px 5px;
  cursor: pointer;
}

.suggestions li:hover{
  background-color: rgb(198, 216, 235);
}



@media only screen and (max-width: 1025px) {
  .suggestions{
    left: 14%;
  }
}