.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Non-react  */

body {
  background: #EDE7D4;
  /* background: linear-gradient(to right, rgb(255, 251, 213), #EDE7D4); */
}

.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
  background-color: #6A8CAD

}

.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}

.searchskill ul{
  list-style-type: none;
  text-align: left;
  background-color: white;
  margin: 0;
}

.searchskill ul li{
  padding: 10px 5px;
  cursor: pointer;
}

.searchskill ul li:hover{
  background-color: #6A8CAD;
}
